__pycache__/
.pytest_cache/
*.pyc
*.db
*.db-journal
*.db-wal
*.db-shm
*.exe
*.pdb
*.dll
*.lib
*.a
*.o
*.obj
build/
sqlite-master/config.log
sqlite-master/config.status
sqlite-master/Makefile
sqlite-master/*.o
sqlite-master/*.obj
sqlite-master/*.pdb
sqlite-master/*.dll
sqlite-master/*.lib
sqlite-master/*.a
sqlite-master/*.exe
sqlite-master.zip
